<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2019. Rob Holmes. This file is part of the Resume app of Rob Holmes, an Android
  ~ Developer from Hampshire, United Kingdom, and is intended to demonstrate Rob's skills in an open
  ~ manner. It therefore should not be used for any other purpose, or any other person's Resume, as
  ~ this would be deceptive and misleading.
  ~ If you find this code anywhere other than https://github.com/robholmes/Resume then it's probably
  ~ a sign someone has copied it.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.robholmes.resume">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>